# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/打包.iss
/pubspec.lock
/111.iss
/222.iss
/333.iss
/555.iss
/4444.iss
/devtools_options.yaml
/banner.jpg
/魔镜AI-cache/cacheIndex.txt
/魔镜AI-cache/
/魔镜AI-SetupFiles/
/魔镜AI.aip
/dialog.jpg
/.cursorrules
ios/Podfile
macos/Podfile
/.windsurfrules
/lib/config/global_params.dart

# Project exclude paths
/windows/resources/