<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>魔镜AI</string>
	<key>CFBundleName</key>
	<string>魔镜AI</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.7</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSHumanReadableCopyright</key>
	<string>$(PRODUCT_COPYRIGHT)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>需要访问Apple事件用于截图</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>需要访问下载文件夹来保存文件</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>需要访问文档文件夹来保存和读取文件</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>需要访问桌面文件夹来保存文件</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要访问麦克风用于截图</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机用于截图</string>
	<key>NSGraphicsCaptureUsageDescription</key>
	<string>需要访问屏幕用于截图</string>
</dict>
</plist>
